{sub_dirs, [
            "apps/docterl_ets",
            "rel/docterl_ets"
           ]}.

{lib_dirs,["deps"]}.

{deps, [
%%	{'statsderl', ".*", {git, "https://github.com/lpgauth/statsderl.git", "master"}}
]}.

{erl_opts, [debug_info, fail_on_warning, {d, 'NOTEST'}]}.

%%{eunit_compile_opts, [{d, 'TEST'}]}.  % turn on testing. Will override the NOTEST in plain compilation

{cover_enabled, true}.

{require_otp_vsn, "R14"}.


